.return {
  display: none;

  @media screen and (min-width: 1400px) {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 213px;
    height: 50px;

    border: 1px solid #384564;
    border-radius: 15px;

    margin-top: 97px;

    &__arrow {
      width: 10px;
      height: 18px;

      margin-right: 19px;
    }

    &__description {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;

      text-align: center;
      text-transform: uppercase;

      color: #3a4562;
    }
  }
}
