.job_list {
  &__wraper {
    display: grid;
    grid-template-columns: 66px 279px;
    grid-template-rows: 166px;
    grid-column-gap: 19px;
    grid-row-gap: 0px;

    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;

    box-shadow: 0px 3px 3px grey;

    background-color: #fff;

    padding: 17px 16px 27px 16px;

    @media screen and (min-width: 1400px) {
      display: grid;
      grid-template-columns: 85px 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 26px;
      grid-row-gap: 0px;

      align-items: center;

      padding: 24px 16px 24px 16px;

      width: 1100px;
    }
  }

  &__text__wraper {
    display: grid;
    grid-template-columns: 279px;
    grid-template-rows: 135px 17px;
    grid-column-gap: 0px;
    grid-row-gap: 17px;

    @media screen and (min-width: 1400px) {
      display: grid;
      grid-template-columns: 1fr repeat(2, 96px);
      grid-template-rows: 116px;
      grid-column-gap: 26px;
      grid-row-gap: 0px;

      align-items: center;
    }
  }

  &__img {
    width: 66px;
    height: 66px;

    border-radius: 35px;

    margin-right: 19px;
    margin-top: 50%;

    @media screen and (min-width: 1400px) {
      width: 85px;
      height: 85px;

      border-radius: 40px;

      margin-right: 0px;
      margin-top: 0%;
    }
  }

  &__description {
    font-weight: 400;

    &__title {
      font-size: 18px;

      line-height: 24px;
      letter-spacing: -0.5625px;

      color: #3a4562;

      @media screen and (min-width: 1400px) {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;

        letter-spacing: -0.625px;
      }
    }

    &__name {
      font-size: 16px;

      letter-spacing: 0.23619px;

      color: #878d9d;

      @media screen and (min-width: 1400px) {
        font-size: 16px;

        letter-spacing: 0.23619px;
      }
    }

    &__span {
      font-size: 35px;

      color: #878d9d;
    }

    &__location {
      display: flex;
      align-items: center;

      margin-bottom: 17px;
    }

    &__location__icon {
      margin-right: 8px;
    }

    &__location__address {
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;

      letter-spacing: 0.23619px;

      color: #878d9d;
    }
  }

  &__mobile__favorite {
    display: flex;
    justify-content: space-between;
  }

  &__star {
    @media screen and (min-width: 1400px) {
      width: 96px;
      height: 18px;
    }
  }
  &__favorite {
    display: flex;

    @media screen and (min-width: 1400px) {
      margin-left: 50px;
      flex-wrap: wrap;
    }

    &__icon {
      display: none;

      @media screen and (min-width: 1400px) {
        display: block;

        width: 32px;
        height: 32px;

        margin-bottom: 20px;
      }
    }

    &__time {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;

      letter-spacing: 0.206667px;

      color: #878d9d;

      @media screen and (min-width: 1400px) {
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}
