.job_detail {
  //DESCRIPTION
  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: -0.5625px;

    color: rgba(56, 65, 93, 0.82);

    margin-bottom: 43px;
  }
}
